

.footer{

     position:fixed;
     bottom: 0%;
     height: 70px;
     width: 100%;
     background: rgba(92, 125, 243, 0.943);
}
.footer ul{
    margin-top: 5px;
    text-align: center;
    list-style: none;
    color: whitesmoke;

}