<h1>PRODUCTS</h1>

<div class="container product_list">
    <table id="products">
        <tr>
          <th>products</th>
          <th>Availabe Quantity</th>
          <th>Add Iteams</th>
          <th>Remove Iteams</th>
        </tr>
       
        <tr>
            <td><img src="/assets/images/banana.jpg"></td>
            <td>100kg</td>
            <td> <button type="button"> Add</button>
              </td>
              <td><button type="button">Remove</button></td>
          </tr>
          <tr>
            <td><img src="/assets/images/badam.jpeg"></td>
            <td>1000kg</td>
            <td> <button type="button"> Add</button>
              </td>
              <td><button type="button">Remove</button></td>
          </tr>
          <tr>
            <td><img src="/assets/images/butter.jpeg"></td>
            <td>1000kg</td>
            <td> <button type="button"> Add</button>
              </td>
              <td><button type="button">Remove</button></td>
          </tr>
          <tr>
            <td><img src="/assets/images/anjeer.jpeg"></td>
            <td>1000kg</td>
            <td> <button type="button"> Add</button>
              </td>
              <td><button type="button">Remove</button></td>
          </tr>
          <tr>
            <td><img src="/assets/images/cabbage.jpg"></td>
            <td>1000kg</td>
            <td> <button type="button"> Add</button>
              </td>
              <td><button type="button">Remove</button></td>
          </tr>
       
      </table>
</div>