
<body>
    <nav>
    <label for="logo"><h2>KITCHEN STORY</h2></label>
    <ul>
       <li><a class="active" routerLink="/home" routerLinkActive="active">Home</a></li>
       <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
       <li><a routerLink="/signup" routerLinkActive="active">SignUp</a></li>
       <li><a routerLink="/about" routerLinkActive="active">About</a></li>
       <li><a routerLink="../admin" routerLinkActive="active">Admin</a></li>
       

      
        
    </ul>
  

</nav>

</body>

