<form  method="post">
    <div class="logbox">
        <img src="/assets/images/avatar1.png" class="avatar">
        <h1>SignUp</h1>
        <form method="post">
            <label for="Fname" class="fname"><b>Full Name</b></label>
            <input type="text" placeholder="Enter FullName" name="fname"required><br>
            <label for="email" class="email"><b>E mail</b></label><br>
            <input type="email" placeholder="Enter Email"required><br>
            <label for="phn" class="email"><b>Mobile Number</b></label><br>
            <input type="ph" placeholder="Enter Moble No"required><br>
            <label for="psw" class="psw"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password"required><br><br>
            <input  type="button" value="Submit" routerLink="/home">
       
        </form>
    </div>
</form>
