<form  method="post">
    <div class="logbox">
        <img src="/assets/images/avatar1.png" class="avatar">
        <h3>Admin Login</h3>
        <form method="post">
            <label for="uname" class="uname"><b>User Name</b></label>
            <input type="text" placeholder="Enter UserName" name="uname" required>
            <label for="psw" class="upswd"><b>Password</b></label>
            <input type="password" placeholder="Enter Password"required><br><br>
            <input  type="button" value="Login" routerLink="/adminhome"><br>
            <a style="color: white;" href="#"> Change the password</a>
        </form>
    </div>
</form> 