<form  method="post">
    <div class="logbox">
        <img src="/assets/images/avatar1.png" class="avatar">
        <h1>Login</h1>
        <form method="post">
            <label for="uname" class="uname"><b>User Name</b></label>
            <input type="text" placeholder="Enter UserName" name="uname" required>
            <label for="psw" class="upswd"><b>Password</b></label>
            <input type="password" placeholder="Enter Password"required>
            <div class="check">
            <label for="checkbox">
                <input type="checkbox"> Remember Me
            </label><br>
        </div>
            <input  type="button" value="Login" routerLink="/home"><br>
            <input  type="button" value=" Dont have an Account!SignUp" routerLink="/signup">
       
        </form>
    </div>
</form>